.light-theme {
    --background-color: var(--light-background-color);
    --text-color: var(--light-text-color);
}

.dark-theme {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}